.container {
  display: grid;
  grid-template-columns: 200px auto 230px 300px;
  grid-template-rows: 200px auto 230px 300px;
  gap: 5px;
  padding: 10px;
  background: #eee;
}

.item {
  background: steelblue;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
