.filled {
  font-variation-settings: "FILL" 1;
}

/* question answer styles */
.answer-content {
  padding: 8px 16px;
  font-size: 16px;
}

.answer-content h2 {
  color: #333;
  font-size: 18px;
  padding-top: 16px;
}

.answer-content p {
  margin: 10px 0;
  line-height: 1.6;
}

.option {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.ref-page {
  background-color: black;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
  min-width: 40px;
  height: 40px;
  border-radius: 30px;
  margin: 2px 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.ref-page:hover {
  background-color: #555;
}

span.ref-page {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 24px;
  height: 24px;
  border-radius: 6px;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
